.topbarContainer {
    height: 60px;
    width: 100%;
    background-color: rgb(28, 154, 177);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.topbarLeft {
    flex: 3;
   
}
.topbarCenter {
    flex: 5; 
}
.searchbar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
}
.searchInput{
    border: none;
    width: 70%;
}
.searchInput:focus {
    outline: none;
}
.topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
 
}
.topbarLinks {
    display: flex;
    font-size: 15px;
    cursor: pointer;
}

.topbarlink {
    margin-right: 10px;
}
/* .topbarlink:hover {
    height: 60px;
    width: 100%;
    background-color: #F9E79F;
} */
.topbarIcons {
    display: flex;
}
.topbarItem {
    margin-right: 25px;
    cursor: pointer;
    position: relative;
}
.topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: rgb(156, 13, 13);
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.topbarimg{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}