.rightbar {
  flex: 3.5;
  height: calc(100vh - 60px);

}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}
.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  width: 32px;
  height: 36px;
  margin-right: 10px;
}
.birthdayText {
  font-weight: 200;
  font-size: 17px;
}
.rightbarAd {
  width: 100%;
  margin: 30px 0;
  border-radius: 10px;
}
.rightbarTittle {
  margin-bottom: 20px;
}
.righbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
  
}



